@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* ปรับความกว้างของ scrollbar ตามต้องการ */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #2d3748; /* สีพื้นหลังของแทร็ก scrollbar (ให้ตรงกับสี bg ของคุณ) */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cfcfcf; /* สีของตัวเลื่อน scrollbar (ให้ตรงกับสี theme ของคุณ) */
  border-radius: 5px; /* ปรับความโค้งมุมของตัวเลื่อน scrollbar ตามต้องการ */
}